@charset "UTF-8";

body {
    font-family: "Open Sans", sans-serif, "Microsoft JhengHei", "Microsoft YaHei", Arial;
    overflow-x: hidden;
    background-color: #000;
}

.-header {
    .main {
        .navbar {
            background: transparent;
            border-color: transparent;
            padding: 0 15px;

            .navbar-header {
                .navbar-brand {
                    img {
                        width: 150px;
                    }

                    span {
                        color: #fff;
                        font-size: 18px;
                        display: inline-block;
                    }
                }
            }

            .navbar-collapse {
                .navbar-nav {
                    li {
                        a {
                            font-size: 18px;
                            color: #fff;
                            text-decoration: none;
                            font-weight: bold;
                            display: flex;
                            align-items: center;

                            &.active {
                                &::before {
                                    content: "";
                                    width: 10px;
                                    height: 2px;
                                    background-color: #fff;
                                    display: inline-block;
                                    margin-right: 5px;
                                }
                            }
                        }
                    }

                    .-social {
                        display: flex;

                        a {
                            width: 26px;
                            height: 26px;
                            border-radius: 100%;
                            background-color: #fff;
                            color: #333;
                            font-size: 16px;
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;

                        }
                    }
                }
            }
        }
    }
}

.page-set {
    display: flex;
    min-height: 100vh;
    min-height: 100svh;
    width: 100%;
    position: relative;
    top: 0;
}

.breadcrumb {
    background-color: transparent;

    .breadcrumb-item {
        color: #fff;
        font-size: 13px;

        a {
            color: #fff;
            opacity: .8;
            text-decoration: none;
        }
    }
}

.main-title {
    h1 {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 30px;
        color: #fff;
        line-height: 1.6;
    }
}

.main-zone {
    padding: 0 15px;
    margin-bottom: 30px;

    .pic-card {
        margin-bottom: 30px;

        a {
            display: block;
            border-radius: 4px;
            overflow: hidden;
            text-decoration: none;
            img {
                width: 100%;
                object-fit: cover;
                object-position: center;
                transition: ease-in-out .3s;
                border-radius: 4px;
                &:hover {
                    opacity: .7;
                }
            }
            h2{
                font-size: 15px;
                text-align: center;
                margin-bottom: 0;
                margin-top: 10px;
                letter-spacing: 1px;
                line-height: 1.6;
                color: #fff;
            }
        }

        .-more {
            a {
                background-color: transparent;
                color: #fff;
                font-size: 16px;
                text-decoration: none;
                transition: ease-in-out .3s;
                opacity: .8;
                text-align: right;

                &:hover {
                    opacity: 1;
                }
            }

        }

    }
}

// 電腦
@media (max-width: 1200px) {
    .main-zone {


        .pic-card {

            .-more {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;


            }

        }
    }
}

@media (min-width: 768px) {
    .-header {
        z-index: 1000;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 17em;
        min-width: 17em;
        max-width: 17em;
        height: 100vh;
        height: 100svh;

        .main {
            height: 100%;

            .navbar {
                height: 100%;
                display: flex;
                align-items: center;
                flex-wrap: wrap;

                .navbar-header {
                    margin-bottom: 30px;

                    .navbar-brand {
                        display: flex;
                        flex-wrap: wrap;


                        span {
                            width: 100%;
                            font-weight: 600;
                        }
                    }
                }

                .navbar-collapse {
                    height: calc(100% - 140px);
                    overflow-y: auto;
                    align-items: flex-start;

                    &::-webkit-scrollbar {
                        width: 8px;
                    }

                    &::-webkit-scrollbar-track {
                        background-color: #eee;
                        border-radius: 50px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: #fff2fd;
                        opacity: .5;
                        border-radius: 50px;
                        height: 25px;
                    }

                    .navbar-nav {
                        width: 100%;
                        margin-top: 0px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-wrap: wrap;

                        li {
                            width: 100%;

                            a {
                                position: relative;
                                margin: 10px;
                                font-size: 15px;
                                transition: ease-in-out .3s;
                                opacity: .8;

                                &:hover {
                                    opacity: 1;
                                }
                            }

                        }
                    }
                }
            }
        }
    }

    .main-content {
        width: calc(100% - 17em);
        margin-left: 17em;
        padding: 15px;
    }
}

// M版
@media (max-width: 767px) {
    .main-content {
        padding: 0 15px;
    }

    .page-set {
        flex-wrap: wrap;
        padding-top: 85px;
    }

    header {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        background-color: #000;
    }

    .-header {
        width: 100%;
        max-width: 100%;

        .main {
            .navbar {
                padding: 0px;

                .navbar-header {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    width: 100%;

                    .navbar-brand {
                        padding: 10px;

                        img {
                            max-width: 100%;
                            width: 100px;
                        }

                        span {
                            font-size: 17px;
                        }
                    }

                    .navbar-toggler {
                        outline: none !important;
                        position: relative;
                        margin: 0 10px 0 auto;
                        border: 0px;
                        background: transparent;

                        span {
                            display: block;
                            background: #fff;
                            width: 22px;
                            height: 2px;
                            border-radius: 1px;
                            transition: all .3s linear;

                            &:nth-child(1) {
                                transform: rotate(45deg);
                                transform-origin: 10% 10%;
                            }

                            &:nth-child(2) {
                                margin-top: 4px;
                                opacity: 0;
                                transform: translateX(-25px);
                            }

                            &:nth-child(3) {
                                margin-top: 4px;
                                transform: rotate(-45deg);
                                transform-origin: 10% 90%;
                            }
                        }

                        &.collapsed {
                            span {
                                &:nth-child(1) {
                                    transform: rotate(0);
                                }

                                &:nth-child(2) {
                                    opacity: 1;
                                    transform: translateX(0px);
                                }

                                &:nth-child(3) {
                                    transform: rotate(0);
                                }
                            }
                        }
                    }
                }

                .navbar-collapse {
                    .navbar-nav {
                        margin: 1em 0em;

                        li {
                            text-align: center;

                            a {
                                font-size: 16px;
                                margin: 10px;
                                justify-content: center;
                            }

                            .-social {
                                justify-content: center;
                            }
                        }
                    }
                }
            }
        }
    }


}